.allProjects {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  overflow: hidden;
}

.allProjectsUp {
  height: 540px;
  position: relative;
}

.allProjectsUpImg {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.allProjectsUpImgg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 10%;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.allProjectsUpMain {
  position: absolute;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.169),
    rgba(0, 0, 0, 0.85)
  );
  transition: background 0.3s ease;
  width: 100%;
  padding-block: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.allProjectsUpMain1 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 55px;
  color: white;
}

.allProjectsUpMain1 small {
  font-family: "Archivo", sans-serif;
  font-weight: 200;
  font-size: 55px;
  font-style: italic;
  color: rgb(190, 246, 107);
}

.allProjectsUpMain2 {
  margin-top: 15px;
  font-family: "Archivo", sans-serif;
  color: white;
  border-radius: 7px;
  font-size: 15px;
  letter-spacing: 2.5px;
}

.allProjectsUpMain3 {
  margin-top: 15px;
  font-family: "Archivo", sans-serif;
  color: white;
  border-radius: 7px;
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
}

.allProjectsDown {
  height: 500px;
  background-color: rgb(190, 246, 107);
}

@media (max-width: 600px) {
  .allProjects {
    margin-top: 80px;
  }

  .allProjectsUp {
    height: 280px;
    position: relative;
  }

  .allProjectsUpMain1 {
    font-size: 40px;
  }

  .allProjectsUpMain1 small {
    font-size: 40px;
  }

  .allProjectsUpMain2 {
    font-size: 14px;
  }

  .allProjectsUpMain3 {
    font-size: 15px;
  }

  .allProjectsDown {
    height: 350px;
    background-color: rgb(190, 246, 107);
  }
}
