.allProjects {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  overflow: hidden;
}

.allProjectsUp {
  height: 540px;
  position: relative;
}

.allProjectsUpImg {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.allProjectsUpImgg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 10%;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.allProjectsUpMain {
  position: absolute;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.169),
    rgba(0, 0, 0, 0.85)
  );
  transition: background 0.3s ease;
  width: 100%;
  padding-block: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.allProjectsUpMain1 {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 55px;
  color: white;
}

.allProjectsUpMain1 small {
  font-family: "Archivo", sans-serif;
  font-weight: 200;
  font-size: 55px;
  font-style: italic;
  color: rgb(190, 246, 107);
}

.allProjectsUpMain2 {
  margin-top: 15px;
  font-family: "Archivo", sans-serif;
  color: white;
  border-radius: 7px;
  font-size: 15px;
  letter-spacing: 2.5px;
}

.allProjectsUpMain3 {
  margin-top: 15px;
  font-family: "Archivo", sans-serif;
  color: white;
  border-radius: 7px;
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
}

.allProjectsDown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
  background-color: rgb(190, 246, 107);
}

.allProjectsDown1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  width: 480px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.allProjectsDown1 img {
  width: 100%;
  height: 1005;
  border-radius: 20px;
}

.allProjectsDown1a {
  margin-bottom: 10px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.allProjectsDown1a1 {
  font-family: "Archivo", sans-serif;
  font-size: 35px;
  font-weight: 500;
}

.allProjectsDown1a2 {
  font-family: "Archivo", sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 2px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: black; /* Semi-transparent black background */
  color: #fff; /* White arrow color */
  border-radius: 50%; /* Circular shape */
  width: 20px; /* Set width */
  height: 40px; /* Set height */
  display: flex;
  padding: 30px 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
  .allProjects {
    margin-top: 80px;
  }

  .allProjectsUp {
    height: 280px;
    position: relative;
  }

  .allProjectsUpMain1 {
    font-size: 40px;
  }

  .allProjectsUpMain1 small {
    font-size: 40px;
  }

  .allProjectsUpMain2 {
    font-size: 14px;
  }

  .allProjectsUpMain3 {
    font-size: 15px;
  }

  .allProjectsDown {
    height: 450px;
    background-color: rgb(190, 246, 107);
  }

  .allProjectsDown1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .allProjectsDown1a1 {
    font-family: "Archivo", sans-serif;
    font-size: 25px;
    font-weight: 500;
  }

  .allProjectsDown1a2 {
    font-family: "Archivo", sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}
