.hero {
  padding-inline: 12%;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: black;
}

.heroUp {
  display: flex;
  align-items: center;
}

.hiddenComp {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.showComp {
  opacity: 1;
  transform: translateY(0);
}

.heroUp1 {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 65px;
  margin-right: 30px;
  color: white;
}

.heroUp2 {
  background-color: rgb(190, 246, 107);
  width: 180px;
  height: 0.5px;
  margin-right: 30px;
}

.heroUp3 {
  font-family: "Archivo", sans-serif;
  background-color: rgb(190, 246, 107);
  padding: 8px 13px;
  border-radius: 7px;
  font-size: 14px;
  letter-spacing: 2.5px;
}

.heroUpMid {
  position: absolute;
  margin-top: 10px;
  z-index: 2;
}

.heroUpMid p {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 65px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  background-color: black;
  width: max-content;
  padding-right: 40px;
  padding-bottom: 15px;
  border-bottom-right-radius: 25px;
}

.heroDown {
  margin-top: 10px;
  position: relative;
}

.heroDown img {
  width: 100%;
  height: 730px;
  object-fit: cover;
  border-radius: 25px;
  transition: ease-in-out;
}

.heroDownIcon {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  row-gap: 20px;
}

.heroDownIcon i {
  font-size: 40px;
  padding: 40px 50px;
  border-radius: 50%;
  background-color: rgb(190, 246, 107);
  cursor: pointer;
}

@media (max-width: 600px) {
  .hero {
    padding-inline: 6%;
    padding-top: 40px;
  }

  .heroUp1 {
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: white;
  }

  .heroUp2 {
    display: none;
  }

  .heroUp3 {
    display: none;
  }

  .heroUpMid p {
    font-size: 35px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-bottom-right-radius: 25px;
  }

  .heroDown img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
    transition: ease-in-out;
  }

  .heroDownIcon {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    row-gap: 20px;
  }

  .heroDownIcon i {
    font-size: 40px;
    padding: 20px 30px;
    border-radius: 50%;
    background-color: rgb(190, 246, 107);
  }
}
