* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  padding-inline: 6%;
  justify-content: space-between;
  padding-block: 50px;
  background-color: black;
  align-items: center;
}

.navBarLeft {
  display: flex;
  align-items: center;
}

.navBarRight2 {
  display: none;
}

.navBarLeft p {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 19px;
  color: white;
}

.navBarLeft i {
  font-size: 18px;
  color: rgb(190, 246, 107);
}

.navBarRight {
  display: flex;
  width: 600px;
  justify-content: space-between;
  position: relative;
}

.navBarRight p {
  font-size: 15px;
  font-family: "Archivo", sans-serif;
  font-weight: 100;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  transition: all;
}

.navBarRight a {
  text-decoration: none;
}

.navBarRight p:hover {
  color: rgb(207, 207, 207);
  border-bottom: white;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
}

.navBarRight i {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.navBarRight small {
  position: absolute;
  color: white;
  top: -14px;
  right: -15px;
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 800;
  color: black;
  background-color: white;
  padding: 2px 4px;
  border-radius: 50%;
}

.navOption {
  display: none;
}

.navOptionClose {
  display: none;
}

@media (max-width: 600px) {
  .navBar {
    padding-block: 35px;
  }

  .navBarRight {
    display: none;
  }

  .navBarRight2 {
    display: flex;
    width: 70px;
    justify-content: space-between;
    position: relative;
  }

  .fa-cart-shopping {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .navBarRight2a {
    display: flex;
    cursor: pointer;
  }

  .navBarRight2aClose {
    display: none;
  }

  .navBarRight2a i {
    color: white;
    font-size: 20px;
  }

  .navBarRight2 small {
    position: absolute;
    top: -15px;
    right: 35px;
    font-family: "Archivo", sans-serif;
    font-size: 10px;
    font-weight: 800;
    color: black;
    background-color: white;
    padding: 2px 4px;
    border-radius: 50%;
  }

  .navBarRight2b {
    display: none;
  }

  .navBarRight2bClose {
    display: flex;
    transition: 1s ease;
    cursor: pointer;
  }

  .navBarRight2bClose i {
    color: white;
    font-size: 20px;
  }

  .navOption {
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 3;
    position: absolute;
    justify-content: space-between;
    padding-block: 30px;
    height: 100vh;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .navOptionClose {
    display: none;
  }

  .navOption1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    gap: 30px;
  }

  .navOption1 p {
    color: white;
    font-family: "Archivo", sans-serif;
    font-size: 35px;
  }

  .navOption1 a {
    text-decoration: none;
  }

  .navOption2 {
    padding-inline: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .navOption2Buttom1 {
    font-family: "Archivo", sans-serif;

    font-size: 15px;
    color: white;
  }

  .footerTop2 {
    row-gap: 30px;
  }

  .navOption2Buttom2 {
    display: flex;
    gap: 20px;
    width: 80px;
  }

  .navOption2Buttom2 i {
    font-size: 18px;
    color: white;
  }
}
